* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* Logo */
.logo h2 {
  color: rgb(18, 219, 255);
  font-size: 24px;
}

/* Nav Links */
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  color: #4da6ff;
}

.nav-links ul li a:active {
  color: #4dff62;
  border-bottom: 2px solid #4dff62;
}

/* Username Button Style */
.username span {
  background: #e6f2ff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #4da6ff;
}

.hero {
  padding: 50px 0;
  background: #f9fbff;
}

/* Container */
/* .hero-container {
  align-items: center;
  justify-content: space-between;
  gap: 40px;
} */


.head {
  font-size: 36px;
  margin-bottom: 20px;
  color: #222;
}

.para-text {
  font-size: 16px;
  margin-bottom: 25px;
  color: #555;
  line-height: 1.6;
}

/* BUTTON */
.btn {
  background: #4da6ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #1a8cff;
  transform: scale(1.05);
}

/* RIGHT SIDE */
.right {
  text-align: center;
}

.right img {
  width: 100%;
  max-width: 400px;
}


/* Section wrapper */
.achievements-section {
  text-align: center;
  margin-top: 40px;
}

/* Heading */
.achievement-title {
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Blue strip */
.achievements {
  background: #4da6ff;
  padding: 40px 0;
  color: white;
}

/* Boxes */
.achievement-container {
  display: flex;
  justify-content: space-around;
}

.achievement-box h2 {
  font-size: 32px;
}

.achievement-box p {
  font-size: 14px;
}

.service-container {
  display: flex;
  gap: 40px;
  padding: 40px 0;
}

/* LEFT */
.left {
  width: 50%;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
}
.service-item button {
  background: #e6f2ff;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.service-item button:hover {
  background: #4da6ff;
  color: white;
}

.service-item:hover{
  background: #f2f8ff;
  border-radius: 5px;
  transform: translateX(5px)
}

.service-item p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-item i {
  color: #4da6ff;
  font-size: 18px;
}

.service-item span {
  color: #4da6ff;
  font-weight: bold;
}

.cart-info {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  text-align: center;
  font-style: italic;
  background: #f2f8ff;
  padding: 10px;
  border-radius: 6px;

}

/* RIGHT SIDE CONTAINER */
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARD STYLE */
.cart-box, .form-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* CART ITEMS */
#cartItems {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

#cartItems li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #f5f9ff;
  padding: 8px;
  border-radius: 5px;
}

#cartItems button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
.booking-action {
  margin-top: 10px;
}

/* GREEN LINE */
.bottom-line {
  height: 4px;
  width: 0%;
  background: #28a745;
  margin-top: 8px;
  border-radius: 2px;
  transition: 0.5s ease;
}

/* SHOW LINE WHEN SUCCESS */
.show-line {
  width: 100%;
}

/* TOTAL BOX */
.total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.total-box h2 {
  color: #4da6ff;
}

/* FORM */
.form-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* BUTTON */
.form-box button {
  width: 100%;
  padding: 12px;
  background: #4da6ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover {
  background: #1a8cff;
}

.cart-box h3, .form-box h3 {
  margin-bottom: 10px;
}

.cart-box:hover, .form-box:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}


.success-msg {
  display: none;
  margin-top: 10px;
  color: green;
  font-size: 14px;
  text-align: center;
}


/* QUALITY SECTION */
.quality-section {
  padding: 50px 0;
  background: #f9fbff;
  text-align: center;
}

.quality-heading {
  font-size: 32px;
  margin-bottom: 40px;
  color: #222;
  font-weight: 700;
  width: 100%;
  text-align: center;
  clear: both;
}

/* GRID */
.quality-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARD */
.quality-box {
  flex: 1 1 22%;
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

/* ICON */
.quality-box i {
  font-size: 30px;
  color: #4da6ff;
  margin-bottom: 10px;
  transition: 0.3s;
}

/* TITLE */
.quality-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #222;
}

/* TEXT */
.quality-box p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

/* HOVER EFFECT */
.quality-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.quality-box:hover i {
  transform: scale(1.2);
}


/* NEWSLETTER */
.newsletter {
  background: #4da6ff;
  color: white;
  text-align: center;
  padding: 40px 0;
}


.newsletter input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-box {
  background: linear-gradient(to right, #4da6ff, #3399ff);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* LEFT TEXT */
.newsletter-text h2 {
  font-size: 24px;
  font-weight: 600;
}

/* FORM */
.newsletter-form {
  display: flex;
  gap: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  flex: 1;
  min-width: 180px;
}

.newsletter-form button {
  background: white;
  color: #4da6ff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  flex: 0 0 auto;
  padding: 10px 18px;
  white-space: nowrap;
}

.newsletter-form button:hover {
  background: #e6f2ff;
  transform: scale(1.05);
}

.row.group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* FOOTER */
.footer {
  background: #222;
  color: white;
  padding: 40px 0;
}

.footer .col {
  flex: 1;
  min-width: 220px;
  padding: 0 15px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer h4{
  margin-bottom: 10px;
}

/* .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
} */

.footer-box {
  flex: 1 1 22%;
}

.footer i {
  margin-right: 10px;
  cursor: pointer;
}

.footer-logo {
  color: #4da6ff;
  margin-bottom: 35px;
}

/* LINKS */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin: 8px 0;
}

.footer-box ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #4da6ff;
}

/* SOCIAL */
.social-icons {
  margin-top: 10px;
}

.social-icons i {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.social-icons i:hover {
  color: #4da6ff;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4da6ff;
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  opacity: 0;
  transition: 0.5s;
  z-index: 9999;
}

#toast.show {
  opacity: 1;
}

.loader {
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.dark-btn {
  border: none;
  background: #eee;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* DARK MODE */
.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .hero,
.dark-mode .quality-section,
.dark-mode .newsletter {
  background: #181818;
}

.dark-mode .quality-box,
.dark-mode .service-item {
  background: #1e1e1e;
  color: white;
}

.dark-mode .navbar,
.dark-mode .footer,
.dark-mode .cart-box,
.dark-mode .form-box {
  background: #1e1e1e;
  color: white;
}

.dark-mode .nav-links ul li a {
  color: #ddd;
}

.dark-mode .nav-links ul li a:hover {
  color: #4da6ff;
}


.dark-mode input {
  background: #333;
  color: white;
  border: 1px solid #555;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .left, .right {
    width: 100%;
  }

  .head {
    font-size: 22px;
  }
  .btn {
    width: 100%;
  }

  .achievement-title {
    font-size: 28px;
  }

  .achievement-container {
    flex-direction: column;
    gap: 20px;
  }

   .service-container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

   .quality-container {
    flex-direction: column;
  }

  .quality-box {
    width: 100%;
  }

  .quality-heading {
    font-size: 26px;
  }

  .newsletter-box {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .newsletter-form {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-box {
    width: 100%;
  }

}





